{% load i18n %}{% load static %}
<link rel="stylesheet" href="{% static 'pev_sql/css/styles.css' %}">

<script type="application/json" id="djdt-pev-plan-content">{{ plan_content|safe }}</script>
<script type="application/json" id="djdt-pev-plan-name">{{ plan_name }}</script>
<script type="application/json" id="djdt-pev-plan-query">{{ plan_query }}</script>


<app>Loading...</app>

<script type="text/javascript" src="{% static 'pev_sql/js/bootstrap.js' %}"></script>

<script src="{% static 'debug_toolbar/js/toolbar.sql.js' %}"></script>
